<template>
  <div id="app">
    <h1>Список дел</h1>


    <div class="filter-control">
      <button @click.prevent="filter(null) ">все</button>
      <button @click.prevent="filter(true)"> выполненные </button>
      <button @click.prevnet="filter(false)">Не выполненные</button>
    </div>
    <br><hr><br>
    <ul>
      <li v-for="(task, index) in filteredTasks ">
        <form class="rename"
              v-on:submit.prevent="editChange(index)"
              v-show="task.isEding" action="">

                  <input
                    autofocus
                    ref="editThisTask"
                    v-model="editThis"
                    type="text">
        </form>
        <div @click="statusDone(index)" v-bind:class="[{active: task.done}, 'task']">
          {{ task.title }}
        </div>
        <span
          v-on:click.prevent="editTask(index)"
          class="edit">
        </span>
        <span
          v-on:click="removeTask(task)"
          class="dell">

        </span>

      </li>
    </ul>
    <br><hr><br>
    <form v-on="{submit: addTask}" action="">
      <input v-model="newTask" type="text" class='new_task' placeholder="Чё добавить?">
    </form>
  </div>

</template>

<script src="./app.js"></script>









<style lang="scss">
  #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  width: 100%;
  max-width: 900px;
  margin:0 auto;
}

h1, h2 {
  font-weight: normal;
  text-align: center;
  font-size: 90px;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

li, input {
  line-height:50px;
  display: inline-block;
  margin: 0x;
  font-size: 24px;
  padding: 0 10px 0 0px;
  border:1px solid #ccc;
  width: 100%;
  box-sizing: border-box;


}
li{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  position: relative;
}
li span{
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  margin-right: 10px;
}
.rename{
  position: absolute;
  top:0;
  left: 0px;
  border:none;
  width: 90%;
}
.rename input{
  border: 0;
}
li .edit{
  background-image: url("../assets/edit.png");
}
li .dell{
  background-image: url("../assets/dell.png");
}
.task{
  padding-left: 30px;
  flex-basis: 100%;
}
.task.active{

  color: red;
  text-decoration: line-through;

}
.new_task{
  padding-left: 30px;
}
a {
  color: #42b983;
}
  .filter-control{
    margin: 0 auto;
    text-align: center;
  }
  .filter-control button{
    width: 180px;
    height: 40px;
    font-size: 20px;
    margin: 0 10px;
    border: 1px solid #333;
    background: none;
    border-radius:3px;
  }
</style>
